<!doctype html>
<html lang="en">
  <head>
    <title>About Us| Ray Of Hope</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" type="text/css" href="../public/aboutus.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/5.0.0/css/font-awesome.min.css" >
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/5.8.2/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" > </script>
    
    <!---------------------------------------------animation--------------------------->
    
    <title>Ray of hope</title>


  <!------------------------------------------------HEAD------------------------------------>  
     <nav class="navbar navbar-expand-lg navbar-light bg-black" style="background-color:rgba(220,220,220,0.3)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><p>RAY OF HOPE</p></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item">
        <a class="nav-link" href="index.html"><p>Home</p></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#"><p style="color:#FF7F50">About Us </p><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gallery.html"><p>Gallery</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog.html"><p>Blogs</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus.html"><p>Contact Us</p></a>
      </li>
 
    </ul>
   
  </div>
</nav>
    <div class="jumbotron jumbotron-fluid" style="background-color:#FF7F50;">
      <div class="container">
        <h1>RAY OF HOPE </h1>
        <p>- The best way to find yourself is to lose yourself in the service of others</p>
      </div>
    </div>
    
   </head>

<body>
    <div class="out_container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="head_container">
            <div class="cont-1">
              <div class="history">
                <h2 style="color:#D3D3D3; font-family: 'Questrial', sans-serif; font-size: 45px">HISTORY</h2>
              </div>
              <p class="content_1"><b>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="head_container">
            <div class="cont-2">
              <div class="motto">
                <h2 style="color:#FFA07A; font-family: 'Questrial', sans-serif; font-size: 45px">MOTTO</h2>
              </div>
              <p class="content_2"><b>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container"style="text-align: center; margin-top:7%; margin-bottom:5%">
      <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
        <h2 id="team"><strong>FAQs</strong></h2>
      </div>
    </div>



    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <p style="font-family: 'Raleway',sans-serif ;
                    font-weight: 300px ;
                    font-size:17px">Does Ray Of Hope receive government funding?</p>
                  </button>
                </h2>
              </div>
            </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body"style="font-family: 'Raleway',sans-serif;font-size: 15px;">
                 As an NGO (non-government organisation), we do not receive any direct government funding allowing us to remain independent, making unbiased evaluations of government policies and programmes. The government has also extended certain tax and duty exemptions to us, enabling us minimise costs
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <p style="font-family: 'Raleway',sans-serif ;
                    font-weight: 300px ;
                    font-size:17px">The problem is huge! Will my small contribution make a difference?</p>
                  </button>
                </h2>
              </div>

              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body"style="font-family: 'Raleway',sans-serif;font-size: 15px;">
                  It most certainly does. A small amount goes a long way. In fact, individuals’ contributions form almost 90 to 95% of our income. Taken together, it is these seemingly small contributions that collectively add up to a large amount needed to effect change. There are people all over who are concerned about the situation of children and who want to do something to change it. However, their own commitments and pressures do not allow them to go out and directly work with children. Ray Of Hope provides them the opportunity to help in whatever way they can. They can contribute their money, materials, time, or skills. When everybody comes together and pitches in, no task is impossible. This COLLECTIVE ACTION has an impact and brings about change. Every individual’s contribution is important. This is the fundamental principle on which Ray Of Hope functions.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <p style="font-family: 'Raleway',sans-serif ;
                    font-weight: 300px ;
                    font-size:17px">Are Ray Of Hope employees paid for their work?</p>
                  </button>
                </h2>
              </div>

              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body"style="font-family: 'Raleway',sans-serif;font-size: 15px;">
                   The full-time employees are given regular salaries. We believe that this is important to attract the professional talent we need to manage our activities (and your resources) effectively. It is important to note, however, that Ray Of Hope salaries are modest in comparison with commercial organisations.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <p style="font-family: 'Raleway',sans-serif ;
                    font-weight: 300px ;
                    font-size:17px">Is there any advantage to donating online?</p>
                  </button>
                </h2>
              </div>

              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body"style="font-family: 'Raleway',sans-serif;font-size: 15px;">
                 Yes. When you donate online, you help us twice over, as it is the most cost-efficient channel of collecting funds for Ray Of Hope.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <p style="font-family: 'Raleway',sans-serif ;
                    font-weight: 300px ;
                    font-size:17px">Ray Of Hope partners with third party vendors and agencies to raise funds. Tell me more.</p>
                  </button>
                </h2>
              </div>

              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body"style="font-family: 'Raleway',sans-serif;font-size: 15px;">
                  Donations from individuals are the mainstay of Ray Of Hopes’s fundraising efforts. We make all attempts to enlist in this movement for children each of the concerned individuals who come from every walk of life and every corner of the globe. To enable us do this, we send direct appeals, updates via snail mail and email.
We also use other avenues like third-party provided services for face-to-face marketing and tele-calling, to reach out to individuals. Each representative / DSA (direct sales agent) from the agencies will carry with them an identification card clearly stating that s/he is a Ray Of Hope representative along with the Ray Of Hope logo and office address.
Should you like more information on Ray Of Hope or would like to confirm the identity of the representative or any specific detail in his/ her presence, please contact any of the Ray Of Hope offices. The representatives are not authorized to collect/ ask for / accept any cash donations for Ray Of Hope. Only a cheque or demand Draft in favour of Ray Of Hope – Child Rights and You will be accepted by them.

If you have any queries that have not been addressed here or require clarification on any of the information provided, please do not hesitate to get in touch with us at the Ray Of Hope Office nearest to you or email us at webinfo@RayOfHopemail.org
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    <p style="font-family: 'Raleway',sans-serif ;
                    font-weight: 300px ;
                    font-size:17px">What is Ray Of Hope’s donation refund policy?</p>
                  </button>
                </h2>
              </div>

              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body"style="font-family: 'Raleway',sans-serif;font-size: 15px;">
                 Ray Of Hope takes the utmost care to process donations as per the instructions given by our donors, online and offline. However, in case of an unlikely event of an erroneous donation or if the donor would like to cancel his donation, Ray Of Hope will respond to the donor within 7 working days of receiving a valid request for refund from the donor. The timely refund of the donation will depend upon the type of credit card/banking instrument used during the transaction. The donor will have to send Ray Of Hope a written request for a refund within 2 days of making the donation to Ray Of Hope’s official address or email donorservice@RayOfHopemail.org along with-<br>
1. Proof of the deduction of the donation amount.<br>
2. In cases where the donation receipt has already been issued to the donor, the donor will have to return the original receipt to us at our office addresses.<br>
3. If the tax exemption certificate is already issued, then we are sorry but we will not be able to refund the donation. However, in case of a valid refund request due to any error on Ray Of Hope’s part, Ray Of Hope will refund the donation and bear the costs of the same.<br>
4. International donations will need minimum 10 days for the refund process
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="container"style="text-align: center; margin-top:7%; margin-bottom: 5%">
      <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
        <h2 id="team"><strong>Our Team</strong></h2>
      </div>
    </div>
    <div class="container" style="margin-top:17px ; margin-bottom: 7px">
      <div class="row">
        <div class="col-md-4">
          <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
            <div class="card" >
                <img class="card-img-top" src="..\images\t1.png" alt="Card image cap">
                <div class="card-body"style="background-color: #fff">
                  <h5 class="card-title">Shwetha Murthy</h5>
                  <p class="card-text">Chief Executive Director</p>
                 </div>
                <div class="card-body"style="background-color: #fff">
                  <div class="container">
                    <a href="#" class="card-link" style="font-size:25px"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="card-link"style="font-size:25px"><i class="fa fa-facebook"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        <div class="col-md-8"style="text-align: center">
          <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
            <div class="mem_container">
              <p class="members"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:17px ; margin-bottom: 7px">
      <div class="row">
        <div class="col-md-4">
          <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
            <div class="card" >
                <img class="card-img-top" src="..\images\t2.png" alt="Card image cap">
                <div class="card-body" style="background-color: #fff">
                  <h5 class="card-title">Manish Sharma</h5>
                  <p class="card-text">Human Resources</p>
                 </div>
                <div class="card-body"style="background-color: #fff">
                  <div class="container">
                    <a href="#" class="card-link" style="font-size:25px"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="card-link"style="font-size:25px"><i class="fa fa-facebook"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        <div class="col-md-8"style="text-align: center">
          <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
            <div class="mem_container">
              <p class="members"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:17px ; margin-bottom: 7px">
      <div class="row">
        <div class="col-md-4">
          <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
            <div class="card" >
                <img class="card-img-top" src="..\images\t3.jpg" alt="Card image cap">
                <div class="card-body"style="background-color: #fff">
                  <h5 class="card-title">Rajashri Deshmukh</h5>
                  <p class="card-text">Technical Manager</p>
                 </div>
                <div class="card-body"style="background-color: #fff">
                  <div class="container">
                    <a href="#" class="card-link" style="font-size:25px"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="card-link"style="font-size:25px"><i class="fa fa-facebook"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
       <div class="col-md-8"style="text-align: center">
          <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
            <div class="mem_container">
              <p class="members"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:17px ; margin-bottom: 7px">
      <div class="row">
        <div class="col-md-4">
          <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
            <div class="card" >
                <img class="card-img-top" src="..\images\t4.jpg" alt="Card image cap">
                <div class="card-body"style="background-color: #fff">
                  <h5 class="card-title">Siddharth Oak</h5>
                  <p class="card-text">Finance & Marketing Manager</p>
                 </div>
                <div class="card-body"style="background-color: #fff">
                  <div class="container">
                    <a href="#" class="card-link" style="font-size:25px"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="card-link"style="font-size:25px"><i class="fa fa-facebook"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-8"style="text-align: center">
          <div data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
            <div class="mem_container">
              <p class="members"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script>
  AOS.init()
</script>
</body>
  <footer>
      <div class="container"> 
       <div class="row">
        <div class="col-md-4 ">
          <div class="f_col">
           <p class="fhead">Register as a volunteer</p>
           <button class="btn btn-default" id="f_btn"><a href="new.html">Register</a></button> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
            <p class="fhead">Quicklinks</p>
       
            <a href="index.html" class="f_link">Home</a><br>
            <a href="aboutus.html" class="f_link">About Us</a><br>
            <a href="gallery.html" class="f_link">Gallery</a><br>
            <a href="blog.html" class="f_link">Blogs</a><br>
            <a href="contactus.html" class="f_link">Contact Us</a><br>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
           <p class="fhead">Follow us on</p>
           <a href="#" class="f_ilink"><i class="fa fa-facebook"></i></a>
           <a href="#" class="f_ilink"><i class="fa fa-twitter"></i></a>
           <a href="#"class="f_ilink"><i class="fa fa-instagram"></i></a>
          </div> 
        </div>
       </div>
      </div>
   </footer>
  </html>