<html>
    <head>
        <title>blog</title>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
            <link rel="stylesheet" href="blog.css">
            <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="ui fixed inverted menu">
          <div class="ui container">
              <div class="header item"><i class="wifi icon"></i>Ray Of Hope</div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">About Us</a>
        <a href="/blogs/new" class="item">Blog</a>
        <a href="/blogs/new" class="item">Gallery</a>
        <a href="/blogs/new" class="item">Contact Us</a>
          </div>
        </div>
        <br>
        <p id="first">BLOGS</p>
        <h2>Ray Of Hope's response to coronavirus crisis in India</h2>
        
        <p id="second"> 
                <img src="images\image3.jpg" , width="">
                <br>
                <br>
             At a time hundreds of migrant workers are 'walking back' to their homes in villages from far-away cities where work has dried up for them due to lock-down, governments and various non-governmental organisations have come out to help in providing food...

            <br>
            <br>
            COVID-19 is currently a big threat to global health. However, no specific antiviral agents are available for its treatment. In this work, we explore the feasibility of convalescent plasma (CP) transfusion to rescue severe patients. The results from 10 severe adult cases showed that one dose (200 mL) of CP was well tolerated and could significantly increase or maintain the neutralizing antibodies at a high level, leading to disappearance of viremia in 7 d. 
                </p>
                
                <hr>
        <p id="third"></p>
        <h2>From food to hygiene kits, here is how Ray Of Hope is helping the poor fight against COVID-19</h2>
        <br>
        <p id="second">
                <img src="images\image2.jpg" , width="">
                <br>
                <br>
                While country has entered second phase of lockdown after April 14, there are no signs of flattening of COVID-19 curve so far; India, however, is less affected compared to nations like United States, Italy, Spain and China
            <br>
            <br>

                Indian Red Cross has scaled up preparedness to tackle the Coronavirus Pandemic by initiating a myriad of activities. In the initial phase of the outbreak, volunteers were trained, awareness & prevention programs were conducted to sensitize people & vulnerable communities.

Mass gatherings, that expose people to greater health risks during public health emergency situations were targeted. Volunteers reached vulnerable people at locations such as railway stations to educate them on prevention & spread of COVID2019.</p>
                <hr>
    </body>
</html>
