<html>
    <head>
        <title>registration done</title>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
            <link rel="stylesheet" href="blog.css">
            <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
              <div class="header item"><i class="wifi icon"></i>Ray Of Hope</div>
                    <a href="/" class="item">Home</a>
			        <a href="/about" class="item">About Us</a>
			        <a href="/blog" class="item">Blog</a>
			        <a href="/gallery" class="item">Gallery</a>
			        <a href="/contactus" class="item">Contact Us</a>
            </div>
        </div>
        <br>
        <br>

<div class="ui main text container segment">
	
	<div class="ui huge header">Registration Done !!!</div>
</div> 
