<html>
    <head>
        <title>Registration done | Ray Of Hope</title>

            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
            <link rel="stylesheet" href="blog.css">
            <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet"> 
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/5.0.0/css/font-awesome.min.css" >
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/5.8.2/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" > </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
     <link rel="stylesheet" type="text/css" href="soh.css">
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >


     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <!---------------------------------------------animation--------------------------->
    
    



  <!------------------------------------------------HEAD------------------------------------>  
   <nav class="navbar navbar-expand-lg navbar-light bg-black" style="background-color:rgba(220,220,220,0.3)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="#"><p>RAY OF HOPE</p></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item active">
        <a class="nav-link" href="/"><p style="color:#FF7F50">Home</p><span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/about"><p>About Us</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery"><p>Gallery</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog"><p>Blogs</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus"><p>Contact Us</p></a>
      </li>
 
    </ul>
   
  </div>
</nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1>RAY OF HOPE</h1>
        <p>- The best way to find yourself is to lose yourself in the service of others</p>
      </div>
    </div>
    
  </head>

    <body>
<div class="container">       
    <div class="row">
    <div class="col-sm-12" style="margin:  10%;text-align: justify; font-family: 'Raleway',sans-serif;"><h1>Welcome to 'Ray Of Hope'!</h1></div>
</div>
</div>
 
</body>
  <footer>
      <div class="container"> 
       <div class="row">
        <div class="col-md-4 ">
          <div class="f_col">
           <p class="fhead">Register as a volunteer</p>
           <button class="btn btn-default" id="f_btn" ><a href="/new">Register</a></button> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
            <p class="fhead">Quicklinks</p>
       
            <a href="/" class="f_link">Home</a><br>
            <a href="/about" class="f_link">About Us</a><br>
            <a href="/gallery" class="f_link">Gallery</a><br>
            <a href="/blog" class="f_link">Blogs</a><br>
            <a href="/contactus" class="f_link">Contact Us</a><br>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
           <p class="fhead">Follow us on</p>
           <a href="#" class="f_ilink"><i class="fa fa-facebook"></i></a>
           <a href="#" class="f_ilink"><i class="fa fa-twitter"></i></a>
           <a href="#"class="f_ilink"><i class="fa fa-instagram"></i></a>
          </div> 
        </div>
       </div>
      </div>
   </footer>
  </html>
