<!doctype html>
<html lang="en">
  <head>
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
     <link rel="stylesheet" type="text/css" href="../public/gallery.css">
     <link rel="stylesheet" type="text/css" href="../public/soh.css">
     <link rel="stylesheet" type="text/css" href="../public/style.css">
     <link rel="stylesheet" type="text/css" href="../public/lightbox.min.css">
     <link rel="stylesheet" type="text/css" href="../public/lightbox.min.css">
     <script src="../public/lightbox-plus-jquery.min.js"></script>
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/5.0.0/css/font-awesome.min.css" >
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/5.8.2/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" > </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <!---------------------------------------------animation--------------------------->
    
    <title>Ray of hope</title>


  <!------------------------------------------------HEAD------------------------------------>  
     <nav class="navbar navbar-expand-lg navbar-light bg-black" style="background-color:rgba(220,220,220,0.3)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><p>RAY OF HOPE</p></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item">
        <a class="nav-link" href="index.html"><p>Home</p></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="aboutus.html"><p>About Us</p></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="gallery.html"><p style="color:#FF7F50">Gallery</p><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog.html"><p>Blogs</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""><p>Contact Us</p></a>
      </li>
 
    </ul>
   
  </div>
</nav>
    <div class="jumbotron jumbotron-fluid" style="background-color:#FF7F50;">
      <div class="container">
        <h1>RAY OF HOPE </h1>
        <p>- The best way to find yourself is to lose yourself in the service of others</p>
      </div>
    </div>
    
   </head>

   

   <body> 
    <div class="container container-fluid">
  <div class="row" >
    <div class="container" >
      
        <h2 id="subhead" style=" color: #FFA07A; margin-top: 3%;margin-bottom: 4%;">GALLERY</h2>
      </div>
    </div>
  </div>
    <div class="gallery">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g1.jpg" data-lightbox="mygallery" data-title="image 1 of 16"><img src="../images/sg1.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
           <a href="../images/g2.jpg" data-lightbox="mygallery" data-title="image 2 of 16"><img src="../images/sg2.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g3.jpg" data-lightbox="mygallery" data-title="image 3 of 16"><img src="../images/sg3.jpg"></a>
          </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/soh3.2.jpg" data-lightbox="mygallery" data-title="image 4 of 16"><img src="../images/sg1.1.jpg"></a>
          </div>
        </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g4.jpg" data-lightbox="mygallery" data-title="image 5 of 16"><img src="../images/sg4.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g5.jpg" data-lightbox="mygallery" data-title="image 6 of 16"><img src="../images/sg5.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g6.jpg" data-lightbox="mygallery" data-title="image 7 of 16"><img src="../images/sg6.jpg"></a>
          </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/last.png" data-lightbox="mygallery" data-title="image 8 of 16"><img src="../images/sg2.1.png"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g7.jpg" data-lightbox="mygallery" data-title="image 9 of 16"><img src="../images/sg7.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g8.jpg" data-lightbox="mygallery" data-title="image 10 of 16"><img src="../images/sg8.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g9.jpg" data-lightbox="mygallery" data-title="image 11 of 16"><img src="../images/sg9.jpg"></a>
          </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
          <a href="../images/three.jpeg" data-lightbox="mygallery" data-title="image 12 of 16"><img src="../images/sg3.1.jpeg"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g10.jpg" data-lightbox="mygallery" data-title="image 13 of 16"><img src="../images/sg10.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g11.jpg" data-lightbox="mygallery" data-title="image 14 of 16"><img src="../images/sg11.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g12.jpg" data-lightbox="mygallery" data-title="image 15 of 16"><img src="../images/sg12.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12" style="align-content: center">
            <a href="../images/3.jpg" data-lightbox="mygallery" data-title="image 16 of 16"><img src="../images/sg4.1.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
      <div class="container"> 
       <div class="row">
        <div class="col-md-4 ">
          <div class="f_col">
           <p class="fhead">Register as a volunteer</p>
           <button class="btn btn-default" id="f_btn"><a href="new.html">Register</a></button> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
            <p class="fhead">Quicklinks</p>
       
            <a href="index.html" class="f_link">Home</a><br>
            <a href="aboutus.html" class="f_link">About Us</a><br>
            <a href="gallery.html" class="f_link">Gallery</a><br>
            <a href="blog.html" class="f_link">Blogs</a><br>
            <a href="contact.html" class="f_link">Contact Us</a><br>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
           <p class="fhead">Follow us on</p>
           <a href="#" class="f_ilink"><i class="fa fa-facebook"></i></a>
           <a href="#" class="f_ilink"><i class="fa fa-twitter"></i></a>
           <a href="#"class="f_ilink"><i class="fa fa-instagram"></i></a>
          </div> 
        </div>
       </div>
      </div>
   </footer>
  </html>