<!doctype html>
<html lang="en">
  <head>
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
     <link rel="stylesheet" type="text/css" href="../public/gallery.css">
     <link rel="stylesheet" type="text/css" href="../public/style.css">
     <link rel="stylesheet" type="text/css" href="../public/lightbox.min.css">
     <link rel="stylesheet" type="text/css" href="../public/lightbox.min.css">
     <script src="../public/lightbox-plus-jquery.min.js"></script>
    <!---------------------------------------------animation--------------------------->
    
    <title>Ray of hope</title>


  <!------------------------------------------------HEAD------------------------------------>  
  
    <div class="jumbotron jumbotron-fluid" id="jh">
      <div class="container">
        <h1>RAY OF HOPE</h1>
        <p>- The best way to find yourself is to lose yourself in the service of others</p>
      </div>
    </div>
          <div class="ui fixed inverted menu">
          <div class="ui container">
              <div class="header item"><i class="wifi icon"></i>Ray Of Hope</div>

      <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">About Us</a>
        <a href="/blogs/new" class="item">Blog</a>
        <a href="/blogs/new" class="item">Gallery</a>
        <a href="/blogs/new" class="item">Contact Us</a>

    </div>
  </div>
   </head>

   <body> 
    <div class="container container-fluid">
  <div class="row" >
    <div class="container" >
      
        <h2 id="subhead" style=" color: #FFA07A; margin-top: 3%;margin-bottom: 4%;">GALLERY</h2>
      </div>
    </div>
  </div>
    <div class="gallery">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g1.jpg" data-lightbox="mygallery" data-title="image 1 of 16"><img src="../images/sg1.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
           <a href="../images/g2.jpg" data-lightbox="mygallery" data-title="image 2 of 16"><img src="../images/sg2.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g3.jpg" data-lightbox="mygallery" data-title="image 3 of 16"><img src="../images/sg3.jpg"></a>
          </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/soh3.2.jpg" data-lightbox="mygallery" data-title="image 4 of 16"><img src="../images/sg1.1.jpg"></a>
          </div>
        </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g4.jpg" data-lightbox="mygallery" data-title="image 5 of 16"><img src="../images/sg4.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g5.jpg" data-lightbox="mygallery" data-title="image 6 of 16"><img src="../images/sg5.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g6.jpg" data-lightbox="mygallery" data-title="image 7 of 16"><img src="../images/sg6.jpg"></a>
          </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/last.png" data-lightbox="mygallery" data-title="image 8 of 16"><img src="../images/sg2.1.png"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g7.jpg" data-lightbox="mygallery" data-title="image 9 of 16"><img src="../images/sg7.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g8.jpg" data-lightbox="mygallery" data-title="image 10 of 16"><img src="../images/sg8.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g9.jpg" data-lightbox="mygallery" data-title="image 11 of 16"><img src="../images/sg9.jpg"></a>
          </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
          <a href="../images/three.jpeg" data-lightbox="mygallery" data-title="image 12 of 16"><img src="../images/sg3.1.jpeg"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g10.jpg" data-lightbox="mygallery" data-title="image 13 of 16"><img src="../images/sg10.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g11.jpg" data-lightbox="mygallery" data-title="image 14 of 16"><img src="../images/sg11.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="../images/g12.jpg" data-lightbox="mygallery" data-title="image 15 of 16"><img src="../images/sg12.jpg"></a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12" style="align-content: center">
            <a href="../images/3.jpg" data-lightbox="mygallery" data-title="image 16 of 16"><img src="../images/sg4.1.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </body>
