<!doctype html>
<html lang="en">
  <head>
    <title>#IndiaFightsCorona</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" type="text/css" href="../public/soh.css">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/5.0.0/css/font-awesome.min.css" >
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/5.8.2/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" > </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
   
    <!---------------------------------------------animation--------------------------->
    
    <title>Ray of hope</title>


  <!------------------------------------------------HEAD------------------------------------>  
  
   <nav class="navbar navbar-expand-lg navbar-light bg-black" style="background-color:rgba(220,220,220,0.3)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><p>RAY OF HOPE</p></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item active">
        <a class="nav-link" href="index.html"><p style="color:#FF7F50">Home</p><span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="aboutus.html"><p>About Us</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gallery.html"><p>Gallery</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog.html"><p>Blogs</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""><p>Contact Us</p></a>
      </li>
 
    </ul>
   
  </div>
</nav>

    <div class="jumbotron jumbotron-fluid" style="background-color:#FF7F50">
      <div class="container">
        <h1>RAY OF HOPE</h1>
        <p>- The best way to find yourself is to lose yourself in the service of others</p>
      </div>
    </div>
    
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid" style="background-color:#c0c0c0 ; text-align: center">
      <div class="container">
        <h1 id="s_head" style="font-family: 'Assistant', sans-serif; font-weight: bolder; letter-spacing: 1px;font-size: 50px">"#IndiaFightsCorona"</h1>
      </div>
    </div>  

      <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <p class="scontent" style="padding-top: 6%">On 11 March 2020, World Health Organization (WHO) declared Novel Coronavirus Disease (COVID-19) outbreak as a pandemic and reiterated the call for countries to take immediate actions and scale up response to treat, detect and reduce transmission to save people’s lives.<br>

The Prime Minister's Office, Group of Ministers, Ministry of Health & Family Welfare and Cabinet Secretary are closely monitoring the situation. Addressing the nation on 19 March 2020, the Prime Minister, urged for resolve and restraint, and adopting social distancing, including ‘National Lockdown’ for 21 days starting Wednesday, 25 March 2020. However, due to a rise in cases of Covid-19 in various pockets, on 14 April the Prime Minister extended the nationwide lockdown till 3 May. Since the lockdown Ray Of Hope has answered more than 4.26 Lakh calls and sent on ground emergency responders to more than 9000+ children across the country.<br>

We at Ray Of Hope urge you to continue your support and help us keep our helpline operational 24X7 and for our teams to continue reaching out to rescue more children in distress and in need of help.<br>

-Emergency relief including food and hygiene kits for rescued children and their families:<br>

- Support for logistics like transportation to keep our helpline and on ground emergency responders operational.<br>

We need your help to ensure we can reach children in time and keep them safe with the necessary preventive measures.
</p>
<div class="container"style="margin-bottom: 10px;margin-top: 10px">
       <div class="jumbotron jumbotron-fluid" id="j1">
        <img src="..\images\india.jpg" style="width: 100%; height:100%">
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="ind"><h2>You can contribute and help save lives</h2></div>
<div class="container"style="margin-bottom: 10px">
       <div class="jumbotron jumbotron-fluid" id="j1">
        <img src="..\images\donate.jpg" style="width: 100%; height:100%">
      </div>
    </div>
  <div class="row ">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label>Donation Amount:</label>
          <input class="form-control" type="text" name="" placeholder="INR*">
        </div>
        <div class="form-group">
          <label>Full Name</label>
          <input class="form-control" type="text" name="" placeholder="Enter Full Name">
        </div>
        <div class="form-group">
          <p> Are you Indian?</p>
          <input type="radio" id="yes" name="nationality" value="yes">
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="nationality" value="no">
            <label for="no">No</label><br>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>City</label>
                <input class="form-control" type="text" name="" placeholder="Enter City"><br>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>State</label>
                <input class="form-control" type="text" name="" placeholder="Enter State"><br>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Country</label>
                <input class="form-control" type="text" name="" placeholder="Enter Country"><br>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Pincode/Zipcode</label><br>
              <input class="form-control" type="text" name="" placeholder="Enter Pincode">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Mobile</label><br>
              <input class="form-control" type="text" name="" placeholder="Enter Moile">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>PAN number</label><br>
              <input class="form-control" type="text" name="" placeholder="Enter PAN">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
          <textarea class="form-control" type="text" name="" placeholder="Enter Address"></textarea>
        </div>
      <button class="btn btn-default"><div class="i_BTN">DONATE</div></button>
      </form>
    </div>
    <div class="col-md-6">
      <div class="container"style="padding-top:15% ;padding-bottom:10%;padding-right: 10%;padding-left: 10%">
       <div class="jumbotron jumbotron-fluid" id="j1">
        <img src="..\images\covid.jpeg" style="width: 100%; height:100%">
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
<footer>
      <div class="container"> 
       <div class="row">
        <div class="col-md-4 ">
          <div class="f_col">
           <p class="fhead">Register as a volunteer</p>
           <button class="btn btn-default" id="f_btn"><a href="new.html">Register</a></button> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
            <p class="fhead">Quicklinks</p>
       
            <a href="index.html" class="f_link">Home</a><br>
            <a href="aboutus.html" class="f_link">About Us</a><br>
            <a href="gallery.html" class="f_link">Gallery</a><br>
            <a href="blog.html" class="f_link">Blogs</a><br>
            <a href="contact.html" class="f_link">Contact Us</a><br>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
           <p class="fhead">Follow us on</p>
           <a href="#" class="f_ilink"><i class="fa fa-facebook"></i></a>
           <a href="#" class="f_ilink"><i class="fa fa-twitter"></i></a>
           <a href="#"class="f_ilink"><i class="fa fa-instagram"></i></a>
          </div> 
        </div>
       </div>
      </div>
   </footer>
  </html>


