<html>
    <head>
        <title>New Registration| Ray Of Hope</title>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
            <link rel="stylesheet" href="blog.css">
            <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet"> 
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >


            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" type="text/css" href="../public/contactus.css">
     <link rel="stylesheet" type="text/css" href="../public/soh.css">
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >


    <nav class="navbar navbar-expand-lg navbar-light bg-black" style="background-color:rgba(220,220,220,0.3)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><p>RAY OF HOPE</p></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item">
        <a class="nav-link" href="index.html"><p>Home</p></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="aboutus.html"><p>About Us</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gallery.html"><p>Gallery</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog.html"><p>Blogs</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus.html"><p>Contact Us</p></a>
      </li>
 
    </ul>
   
  </div>
</nav>

    <div class="jumbotron jumbotron-fluid" style="background-color:#FF7F50">
      <div class="container">
        <h1>RAY OF HOPE</h1>
        <p>- The best way to find yourself is to lose yourself in the service of others</p>
      </div>
    </div>
    
    </head>
    <body>
  
    <div class="ui main text container segment">
	<div class="ui huge header">Volunteer Registration</div>
	<form class="ui form" action="/done" method="POST">
		<div class="field">
			<label class="c_label">Name</label>
			<input type="text" name="Volunteer[name]" class="c_text" placeholder="name">
		</div>

		<div class="field">
			<label class="c_label">Email</label>
			<input type="text" name="Volunteer[email] "class="c_text" placeholder="email">
		</div>

		<div class="field">
			<label class="c_label">Resume</label>
			<textarea class="c_text" name="Volunteer[resume] "></textarea>
		</div>
		
		
		<!--<input class="ui violet big basic button " type="submit">-->
    <button class="btn btn-default"id="o_btn" type="submit" ><div id="c_btn"><a href="done.html" style="color: white">Submit</a></div></button>
	</form>
</div>
</body>
<footer>
      <div class="container"> 
       <div class="row">
        <div class="col-md-4 ">
          <div class="f_col">
           <p class="fhead">Register as a volunteer</p>
           <button class="btn btn-default" id="f_btn" ><a href="new.html">Register</a></button> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
            <p class="fhead">Quicklinks</p>
       
            <a href="index.html" class="f_link">Home</a><br>
            <a href="aboutus.html" class="f_link">About Us</a><br>
            <a href="gallery.html" class="f_link">Gallery</a><br>
            <a href="blog.html" class="f_link">Blogs</a><br>
            <a href="contactus.html" class="f_link">Contact Us</a><br>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
           <p class="fhead">Follow us on</p>
           <a href="#" class="f_ilink"><i class="fa fa-facebook"></i></a>
           <a href="#" class="f_ilink"><i class="fa fa-twitter"></i></a>
           <a href="#"class="f_ilink"><i class="fa fa-instagram"></i></a>
          </div> 
        </div>
       </div>
      </div>
   </footer>
  </html>


