<!doctype html>
<html lang="en">
  <head>
    <title>A Civil Engineer Tomorrow-Ray Of hope</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" type="text/css" href="../public/soh.css">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

   
    <!---------------------------------------------animation--------------------------->
    
    <title>Ray of hope</title>


  <!------------------------------------------------HEAD------------------------------------>  
  
 <nav class="navbar navbar-expand-lg navbar-light bg-black" style="background-color:rgba(220,220,220,0.3)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><p>RAY OF HOPE</p></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item active">
        <a class="nav-link" href="index.html"><p style="color:#FF7F50">Home</p><span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="aboutus.html"><p>About Us</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gallery.html"><p>Gallery</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog.html"><p>Blogs</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""><p>Contact Us</p></a>
      </li>
 
    </ul>
   
  </div>
</nav>

    <div class="jumbotron jumbotron-fluid"style="background-color:#FF7F50">
      <div class="container">
        <h1>RAY OF HOPE</h1>
        <p>- The best way to find yourself is to lose yourself in the service of others</p>
      </div>
    </div>
    
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid" style="background-color:#c0c0c0 ; text-align: center">
      <div class="container">
        <h1 id="s_head" style="font-family: 'Assistant', sans-serif; font-weight: 300;">A victim of gender discrimination yesterday, a civil engineer tomorrow</h1>
      </div>
    </div>  

    <div class="container"style="margin-bottom: 10px;margin-top: 10px">
       <div class="jumbotron jumbotron-fluid" id="j1">
        <img src="..\images\soh1.jpg" style="width: 100%; height:100%">
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 borderbox" style="text-align: left;">
        <h2  style="font-size:30px;font-family: 'Assistant', sans-serif;"><strong>A victim of gender discrimination yesterday, a civil engineer tomorrow</strong></h2><br>
        
      </div>

      <div class="col-sm-12" style="text-align: left;">
        <br><p style="font-family: 'Assistant', sans-serif;">23 JANUARY, 2018</p><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="scontent">Being a woman in India comes with its own set of challenges. Gender stereotyping and discrimination on the basis of caste are just about the tip of the iceberg.<br><br>

<b>The Challenge</b><br><br>

In the villages in the Tirunelveli district of Tamil Nadu, gender discrimination was not only practiced enthusiastically, but was considered the norm. Girls were at a disadvantage from the minute they were born. Even if girls were lucky enough to be enrolled in schools, they had to drop out after primary school. Reason? The only high schools in the area were at least 10 KM away and the only means of transportation was a government bus that ran on no fixed schedule. The private bus was way too expensive. In a place where daughters were considered burdens, parents would never spend such amounts on transportation!<br><br>


So, in Sathya’s village, scores of women and their young daughters spend their days in the shade of their huts rolling beedis. The work is not only back breaking, but also takes away a major chunk of the girls’ childhoods! Concerned with the safety and protection of the girls once they reached adolescence, parents force girls to drop out from school and are married off as minors. Needless to say, child marriage was rampant. Sathya was born into this life.<br><br>

<b>The Strategy of Resolution</b><br><br>

And yet, Sathya refused to give up. Proving all gender stereotyping wrong, Sathya scored a whopping 83% in her Higher Secondary board exams. With the help of the Human Rights Education and Protection Council (HREPC) and Ray Of Hope, she began studying engineering in a government college for free. Motivated by HREPC, Sathya was encouraged to participate in extra-curricular activities and speak up regarding any issues she was facing. The project workers of HREPC were determined that Sathya would be the model and inspiration that the village needed to understand the possibilities open to a girl child. The day Sathya started her civil engineering exams was a triumph not only for the girl and her parents but for Ray Of Hope as well.<br><br>

<b>The Impact</b><br><br>

Today the situation in this little village is far from ideal. The demand for a new high school has been made but children still struggle to commute to school.<br><br>

But young Sathya’s success has resulted in raising awareness about child rights, thereby creating friendly and peaceful living environments for many others bound by discrimination based on caste or gender. She has shown them a world beyond what girls in this village ever dreamt was possible. And sometimes all you need is that little push.<br><br>

</p>




