<!doctype html>
<html lang="en">
  <head>
    <title>Fighting Malnutrition| Ray Of Hope</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="soh.css">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/5.0.0/css/font-awesome.min.css" >
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/5.8.2/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" > </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >

   
    <!---------------------------------------------animation--------------------------->
    
    <title>Ray of hope</title>


  <!------------------------------------------------HEAD------------------------------------>  
  
   <nav class="navbar navbar-expand-lg navbar-light bg-black" style="background-color:rgba(220,220,220,0.3)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/"><p>RAY OF HOPE</p></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item active">
        <a class="nav-link" href="/"><p style="color:#FF7F50">Home</p><span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/about"><p>About Us</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery"><p>Gallery</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog"><p>Blogs</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus"><p>Contact Us</p></a>
      </li>
 
    </ul>
   
  </div>
</nav>

    <div class="jumbotron jumbotron-fluid" style="background-color:#FF7F50">
      <div class="container">
        <h1>RAY OF HOPE</h1>
        <p>- The best way to find yourself is to lose yourself in the service of others</p>
      </div>
    </div>
    
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid" style="background-color:#c0c0c0 ; text-align: center">
      <div class="container">
        <h1 id="s_head" style="font-family: 'Assistant', sans-serif;font-weight: 300;">Fighting Malnutrition for Child Welfare with Kitchen Gardens</h1>
      </div>
    </div>  

    <div class="container"style="margin-bottom: 10px;margin-top: 10px">
       <div class="jumbotron jumbotron-fluid" id="j1">
        <img src="soh2.1.jpg" style="width: 100%; height:100%">
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 borderbox" style="text-align: left;">
        <h2  style="font-size:30px;font-family: 'Assistant', sans-serif; "><strong>Fighting Malnutrition for Child Welfare with Kitchen Gardens</strong></h2><br>
        
      </div>

      <div class="col-sm-12" style="text-align: left;">
        <br><p style="font-family: 'Assistant', sans-serif;">26 SEPTEMBER, 2017</p><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="scontent">Introducing kitchen gardens in anganwadis in Chhattisgarh is an initiative that will be an effective step towards addressing malnutrition in one of the poorest states of the country. This has greatly boosted the morale of the anganwadi workers working in the region where the situation of malnutrition is worrying. In a bid to provide fresh and healthy food to children and expectant mothers, anganwadis in remote areas of Gariyaband and Korba district have set up kitchen gardens in their backyards. Child support and welfare are the prime objectives for any anganwadi.<br><br>


“We decided to set up kitchen gardens mainly to promote the idea of providing nutritious and fresh food (including local fruits and vegetables) to anganwadi children between the ages of 3 to 6 years. We wanted to diversify the food basket so that malnutrition could be combated in one way or the other and hence the idea of having a kitchen garden seemed apt. Also, it was an experiment to instill more confidence and self worth in the anganwadi worker. The experiments resulted in motivating the anganwadi worker to such an extent, that they also started to grow vegetables in their own house land and bring the vegetables to serve the children in anganwadi,” explains Kumar Nilendu, General Manager, Development Support, Ray Of Hope (Western Region). Ray Of Hope as a prominent non profit organization in India works relentlessly towards uplifting the lives of children and people.<br><br>

And yet, Sathya refused to give up. Proving all gender stereotyping wrong, Sathya scored a whopping 83% in her Higher Secondary board exams. With the help of the Human Rights Education and Protection Council (HREPC) and Ray Of Hope, she began studying engineering in a government college for free. Motivated by HREPC, Sathya was encouraged to participate in extra-curricular activities and speak up regarding any issues she was facing. The project workers of HREPC were determined that Sathya would be the model and inspiration that the village needed to understand the possibilities open to a girl child. The day Sathya started her civil engineering exams was a triumph not only for the girl and her parents but for Ray Of Hope as well.<br><br></p>
  <div class="container"style="margin-bottom: 10px;margin-top: 10px">
       <div class="jumbotron jumbotron-fluid" id="j1">
        <img src="soh2.2jpg.jpg" style="width: 100%; height:100%">
      </div>
    </div>

    <p class="scontent">
      “The major food related issues faced by tribal communities across include a disproportionate food basket i.e. they consume mainly staple foods and less that contain required amounts of vitamins and minerals. This is most common in the tribal areas of states like Chhattisgarh, Orissa, Madhya Pradesh as well as Maharashtra, where deprived tribal children get an imbalanced diet, resulting in high rates of malnutrition. Moreover, tribals are usually economically backward and data reveals that some Primitive Tribal Groups (PTG) are so poor that their children are always stuck in a constant state of hunger”<br><br>

The situation of children belonging to Scheduled Tribes in the country is as follows:<br><br></p>
<ul>
<li><p class="scontent">5% children under 5 are stunted</p></li>
<li><p class="scontent">7% children under 5 suffer from wasting</p></li>
<li><p class="scontent">8% children under 5 are underweight</p></li>
</ul><br>
<p class="scontent">Source: Rapid Survey on Children India Factsheet (RSOC) 2013-14<br>
Ever since LASS implemented the kitchen garden project in selected areas along with other efforts to address malnourishment in children, the percentage of children suffering from malnutrition has started to show a decrease by approximately 9-10 percent. So a multi-dimensional approach is required to address the complex issue of malnutrition, but enriching food baskets is a necessary element, especially in tribal communities.

</p>
</div>
</div>
</div>
</body>
  <footer>
      <div class="container"> 
       <div class="row">
        <div class="col-md-4 ">
          <div class="f_col">
           <p class="fhead">Register as a volunteer</p>
           <button class="btn btn-default" id="f_btn"><a href="/new">Register</a></button> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
            <p class="fhead">Quicklinks</p>
       
            <a href="/" class="f_link">Home</a><br>
            <a href="/about" class="f_link">About Us</a><br>
            <a href="/gallery" class="f_link">Gallery</a><br>
            <a href="/blog" class="f_link">Blogs</a><br>
            <a href="/contactus" class="f_link">Contact Us</a><br>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
           <p class="fhead">Follow us on</p>
           <a href="#" class="f_ilink"><i class="fa fa-facebook"></i></a>
           <a href="#" class="f_ilink"><i class="fa fa-twitter"></i></a>
           <a href="#"class="f_ilink"><i class="fa fa-instagram"></i></a>
          </div> 
        </div>
       </div>
      </div>
   </footer>
  </html>