<!doctype html>
<html lang="en">
  <head>
    <title>From taking care of her siblings, to taking care of her own future! | Ray Of Hope</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="soh.css">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/5.0.0/css/font-awesome.min.css" >
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/5.8.2/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" > </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >

   
    <!---------------------------------------------animation--------------------------->
    
    <title>Ray of hope</title>


  <!------------------------------------------------HEAD------------------------------------>  
  
   <nav class="navbar navbar-expand-lg navbar-light bg-black" style="background-color:rgba(220,220,220,0.3)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="#"><p>RAY OF HOPE</p></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item active">
        <a class="nav-link" href="/"><p style="color:#FF7F50">Home</p><span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/about"><p>About Us</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery"><p>Gallery</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog"><p>Blogs</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus"><p>Contact Us</p></a>
      </li>
 
    </ul>
   
  </div>
</nav>

    <div class="jumbotron jumbotron-fluid"style="background-color:#FF7F50">
      <div class="container">
        <h1>RAY OF HOPE</h1>
        <p>- The best way to find yourself is to lose yourself in the service of others</p>
      </div>
    </div>
    
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid" style="background-color:#c0c0c0 ; text-align: center">
      <div class="container">
        <h1 id="s_head" style="font-family: 'Assistant', sans-serif;">From taking care of her siblings, to taking care of her own future!</h1>
      </div>
    </div>  

    <div class="container"style="margin-bottom: 10px;margin-top: 10px">
       <div class="jumbotron jumbotron-fluid" id="j1">
        <img src="soh3.1.jpg" style="width: 100%; height:100%">
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 borderbox" style="text-align: left;">
        <h2  style="font-size:30px;font-family: 'Assistant', sans-serif;font-weight: 300;"><strong>From taking care of her siblings, to taking care of her own future!</strong></h2><br>
        
      </div>

      <div class="col-sm-12" style="text-align: left;">
        <br><p style="font-family: 'Assistant', sans-serif;">27 FEBRUARY, 2018</p><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="scontent">The Tiu family belongs to the Kolha tribes, a Schedule Tribe Community. They are marginal farmers by profession and their livelihood depends majorly on the daily wages. As a community, the Kolha tribe is extremely backwards in terms of economic and social development. Pushpa Tiu (name changed), daughter of Raman and  Kamala Tiu, is a little member from this community in Ranipokhari, Odisha. Like most of the community members, Raman and Kamala make their ends meet with great difficulty. Pushpa lives with her parents and two brothers whom she loves dearly. This is her story!<br><br><br><br>


She was enrolled in the Pradhansahi New Primary School in class 3, but she could hardly attend her classes. Education was a distant dream for her whole family because of their financial status. So her parents engaged her in household chores like cooking, fetching water, cleaning the house and taking care of her younger brothers.<br><br>

But this little girl had no idea that her life was about to change. In a Panchayat discussion held amongst the parents, the ill effects of child labour were discussed. From that platform, field workers of Ray Of Hope supported project Sikshasandhan came to know about Pushpa. They realised that she had actually turned into a child labour at her own home. Soma, a field worker from Sikshasandhan reached out to her parents with various information regarding Child Rights, Child Labour and Child Protection Policy. After many days of countless counselling sessions, her parents allowed Pushpa to start going back to school.</p>
  <div class="container"style="margin-bottom: 10px;margin-top: 10px">
       <div class="jumbotron jumbotron-fluid" id="j1">
        <img src="soh3.2.jpg" style="width: 100%; height:100%">
      </div>
    </div>
    <p class="scontent">Looking at Pushpa’s enthusiasm in her studies, her language teacher Mrs. Malati Barda took various innovative steps to create a joyful learning environment for her by using picture cards, pictorial books, story books etc. She also used a multilingual approach  using “Ho” and “Odiya” to help Pushpa learn faster.<br><br>

Now she has already learnt all the letters in the Odiya and English alphabet and can follow simple commands. She can even construct words and sentences. She is taking active part in sports, singing and acting. It is very interesting to notice that she comes school before 10 AM with her friends. She is also an avid lover of stories. With a shy smile, one can hear her stories, which she recites in her own language, with references to her rich tribal culture and tradition. She is also an expert in tribal dance.<br><br>

“I will become a dancer, I love it too much,” says this little girl with a twinkle in her eyes and her heart full of hopes.</p>
</div>
</div>
</div>


</body>
  <footer>
      <div class="container"> 
       <div class="row">
        <div class="col-md-4 ">
          <div class="f_col">
           <p class="fhead">Register as a volunteer</p>
           <button class="btn btn-default" id="f_btn"><a href="/new">Register</a></button> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
            <p class="fhead">Quicklinks</p>
       
            <a href="/" class="f_link">Home</a><br>
            <a href="/about" class="f_link">About Us</a><br>
            <a href="/gallery" class="f_link">Gallery</a><br>
            <a href="/blog" class="f_link">Blogs</a><br>
            <a href="/contactus" class="f_link">Contact Us</a><br>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
           <p class="fhead">Follow us on</p>
           <a href="#" class="f_ilink"><i class="fa fa-facebook"></i></a>
           <a href="#" class="f_ilink"><i class="fa fa-twitter"></i></a>
           <a href="#"class="f_ilink"><i class="fa fa-instagram"></i></a>
          </div> 
        </div>
       </div>
      </div>
   </footer>
  </html>