<!doctype html>
<html lang="en">
  <head>
    <title>Gift of a Healthy Life! | Ray Of Hope</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="soh.css">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/5.0.0/css/font-awesome.min.css" >
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/5.8.2/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" > </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
   
    <!---------------------------------------------animation--------------------------->
    
    <title>Ray of hope</title>


  <!------------------------------------------------HEAD------------------------------------>  
  
    <nav class="navbar navbar-expand-lg navbar-light bg-black" style="background-color:rgba(220,220,220,0.3)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/"><p>RAY OF HOPE</p></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item active">
        <a class="nav-link" href="/"><p style="color:#FF7F50">Home</p><span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/about"><p>About Us</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery"><p>Gallery</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog"><p>Blogs</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus"><p>Contact Us</p></a>
      </li>
 
    </ul>
   
  </div>
</nav>

    <div class="jumbotron jumbotron-fluid"style="background-color:#FF7F50">
      <div class="container">
        <h1>RAY OF HOPE</h1>
        <p>- The best way to find yourself is to lose yourself in the service of others</p>
      </div>
    </div>
    
  </head>


  <body>
    <div class="jumbotron jumbotron-fluid" style="background-color:#c0c0c0 ; text-align: center">
      <div class="container">
        <h1 id="s_head" style="font-family: 'Assistant', sans-serif;">Gift of a Healthy Life!</h1>
      </div>
    </div>  

    <div class="container"style="margin-bottom: 10px;margin-top: 10px">
       <div class="jumbotron jumbotron-fluid" id="j1">
        <img src="soh4.jpg" style="width: 100%; height:100%">
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 borderbox" style="text-align: left;">
        <h2  style="font-size:30px;font-family: 'Assistant', sans-serif;"><strong>Gift of a Healthy Life!</strong></h2><br>
        
      </div>

      <div class="col-sm-12" style="text-align: left;">
        <br><p style="font-family: 'Assistant', sans-serif;">21 MARCH, 2017</p><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="scontent">Nature is bountiful – and Odisha as a state, has received so much from nature. If one travels across the state, the changing weather and landscape is palpable. The other change that can be noticed is the change in people – their living conditions, economic stability and socio-political scenarios vary quite drastically.<br><br>


Mayurbhanj is one of the largest districts in Odisha and is famous for its places of interests, mining and agricultural options and lush forest areas. However, in spite of all the opportunities, Mayurbhanj has been featured in the list of the country’s 250 most backward districts (Ministry of Panchayati Raj, 2006).<br><br>

In this district lies Dilleswar village of Ranipokhari Panchayat and Kaptipada block. Rini Sahu (name changed), the 15 month old daughter of Milan and Kaveri Sahu, lives here. Rini has 5 siblings. The Sahu family are marginal farmers and depend on daily wages to fend for the family.<br><br>

In the month of July’17, Ray Of Hope supported partner alliance Voice of Child Rights in Odisha (VCRO) and launched a child support campaign to fight malnutrition across 5 districts of Odisha. When the intervention team reached Dilleswar village, they started monitoring the children and noticed that Rini weighed only 6 kilos. Not only that, she had also been suffering from malaria. Without wasting a day, the intervener, along with Anganwari workers consulted with Rini’s parents and informed them about Rini’s undernourished condition and advised that she should be taken to NRC urgently. At first, Milan, Rini’s father, was hesitant as moving Rini to NRC will mean that her mother would also need to be there with her. This would severely affect the family’s daily wage. He also stated that he couldn’t even afford a proper transportation cost. The intervention team not only continued the consultation but also arranged for a car so that Rini and her mother Kaveri can travel to NRC.<br><br>

Rini was taken to NRC and stayed there for more than two weeks. She regained her health gradually and returned home. The intervention team further consulted the Sahu family so that they grow their own kitchen garden and feed proper meals to their family. Seeds and saplings were distributed in the village.<br><br>

Today, if one visits the Sahu family, they can notice a healthy garden of papaya, banana, greens and other vegetables. Rini is more than 8 kilos now and plays happily with her brothers and sisters. She also owns a teddy bear, which remains by her side always.<br><br>

“We did not understand how grave the situation was. We almost lost her and the solution was not so difficult, yet we struggled. Now I make sure my kids have proper meals every day,” says a teary-eyed Kaveri.<br><br>

Ray Of Hope and its partners, with their child welfare efforts, could save Rini from the perils of malnutrition. However, unfortunately, the overall condition of poor children is quite bleak in Odisha, with hundreds of Rinis still suffering.*

</p>
</div>
</div>
</div>
</body>
  <footer>
      <div class="container"> 
       <div class="row">
        <div class="col-md-4 ">
          <div class="f_col">
           <p class="fhead">Register as a volunteer</p>
           <button class="btn btn-default" id="f_btn"><a href="/new">Register</a></button> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
            <p class="fhead">Quicklinks</p>
       
            <a href="/" class="f_link">Home</a><br>
            <a href="/about" class="f_link">About Us</a><br>
            <a href="/gallery" class="f_link">Gallery</a><br>
            <a href="/blog" class="f_link">Blogs</a><br>
            <a href="/contactus" class="f_link">Contact Us</a><br>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="f_col">
           <p class="fhead">Follow us on</p>
           <a href="#" class="f_ilink"><i class="fa fa-facebook"></i></a>
           <a href="#" class="f_ilink"><i class="fa fa-twitter"></i></a>
           <a href="#"class="f_ilink"><i class="fa fa-instagram"></i></a>
          </div> 
        </div>
       </div>
      </div>
   </footer>
  </html>