#jh{
	text-align:center;
	background-color:#FF7F50;
	margin-bottom: 3px;

}
.jumbotron .container h1{
	font-family: "Quicksand",sans-serif;
	font-weight:500;
	/*color: #FAFAD2;*/
	color:#FFF5EE;
	font-size:60px;
}
.jumbotron .container p{
	font-family: "Raleway",sans-serif;
	font-weight:100;
	font-size:20px;	
}

#subhead{
	font-family: 'Questrial', sans-serif;
	font-weight: 300;
	font-size:54px;
	text-align: center;
	/*text-transform: uppercase;*/
	color:#FFA07A;

	letter-spacing:1px;
}
#subhead_container{
	margin-top: 67px;
	margin-bottom: 25px;

}
.content{
	font-family: "Raleway",sans-serif;
	color:#708090;
	font-size: 22px;
}



   /*------------------------------------------soh-------------------------------------------------*/


#s_head{
	font-family: 'Assistant', sans-serif;
	font-weight: 500;
	font-size:35px;
	text-align: left;

	/*text-transform: uppercase;*/
	color:#fff;
}
#j1{
	background-color: transparent;
	margin-bottom: 0px; 
}
.scontent{	
	font-family: 'Assistant', sans-serif;
	letter-spacing: 0.5px;
	color:black;
	font-size: 17px;

}
.borderbox{
	padding-top: 2%;
	border-left: solid;
    border-left-width: 7px;
    border-left-color: #FF7F50;
}
.ind{ 
font-family: 'Assistant' sans-serif;
font-weight: bolder;
letter-spacing: 1px;
color: #FF7F50;
margin-top: 5%;
text-align: center;
text-transform: uppercase;

margin-bottom: 0%;
}
.ind h2{
	font-size:45px;
	letter-spacing: 1px;
	font-weight: bolder;
}
.form-group label,
.form-group p{
	font-family: 'Assistant', sans-serif;
	letter-spacing: 0.5px;
	color:black;
	font-size: 17px;
}
.form-control{
	font-family: 'Assistant', sans-serif;
	letter-spacing: 0.5px;
	color:black;
	font-size: 17px;
}
.btn{
	width: 90px;
	height: 40px;
	background-color:#FF7F50;
	border-radius: 4px;
	text-align: center;
	font-family: 'Assistant', sans-serif;
	letter-spacing: 1px;
	color:white;
	font-weight: bolder;
	font-size: 17px;

}